/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: -webkit-linear-gradient(top left,rgb(43, 50, 53),aqua ,red, yellow,green )
}

.main-container{
   
    background-color: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}    
.title{
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}
.main-container > form{
  
    padding: 30px 20px 25px 20px;
}
.details{
    margin-bottom: 15px;
    height: 45px;
    /* background: red; */
    position: relative; 
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(12, 7, 7, 0.8);
    
}

.details > input{
    height: 100%;
    width: 100%;
    padding: 0 50px;
    font-size: 20px;
    border: none;
    outline: none;
}
.icon{
    background-color:aqua;
    border-radius: 9px;
    position: absolute;
    width: 45px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:green;

}
.forget-password{
    margin: -10px 0 15px 0;
    font-size: 20px;
}
.forget-password >a{
    color: red;
    text-decoration: none;
    
    
}
.forget-password >a:hover{
    text-decoration: underline;
}
.login-button{
    /* margin-bottom:50px; */
  

    padding: 10px 60px;
    font-size: 20px;
    border-radius: 10px;
    /* background-color: white; */
    box-shadow: 1px 1px 5px rgba(12, 7, 7, 0.8);
    border:none

}
.login-button > input{
    background-color: red;
    font-size: 20px;
    font-weight: 500;
}


